@import '../../vars.css';

.container {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    padding: 58px 10%;
    gap: 10px;
    height: auto;
    flex-wrap: flex;
}

.text h2 {
   font-size: 40px;
   font-weight: 700;
   letter-spacing: 4px; 
   font-family: var(--font-prosto-one);
}

.text p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 10px;
}

.link {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 2px;
}

.link a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column; /* Stack elements vertically */
        gap: 23px;
        align-items: center; /* Center align the items */
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center text vertically */
        text-align: center;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the links */
        text-align: center; /* Center text in links */
        gap: 15px; /* Add some space between links */
    }

    .link {
        justify-content: center; /* Center items in each link */
        width: 100%; /* Ensure links take full width */
    }

    .icon {
        margin-right: 5px; /* Reduce margin for better spacing */
    }
}
